


.subtitle {
    font-size: 18px;
    color: rgb(62, 59, 59);
   
}


.app-name {
    font-size: 28px;
    color: Black;
}

.arrow-circle {
    margin-bottom : 80px;
}

.cards {
    background-color: rgba(252, 250, 250, 0.687);
}

.contents {
    color: rgb(62, 59, 59);
}

